<%= render 'producers/producers/header' %>
<div class="withdraw">
  <h1>退会ページ</h1>

  <p>本当に退会しますか?</p>

  <p>退会すると、会員登録情報や<br>
    これまでのユーザー情報が閲覧できなくなります。<br>
  退会する場合は、「退会する」をクリックしてください。</p>
  <br>

  <%= link_to "退会する", producer_registration_path, method: :delete, class: "button" %>
</div>

<style>
  .withdraw{
    text-align: center;
  }

  h1{
    font-size:40px;
  }

  p{
    font-size:20px;
  }

  .button {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: red;/*色*/
    border: solid 1px black;/*線色*/
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
  }

  .button:active {
    border: solid 1px #03A9F4;
    box-shadow: none;
    text-shadow: none;
  }

</style>