<main class="clearfix">
<div class="footer">
<h3>Dont Forget OMIYAGE ~for impotant person~ </h3>
</div>
</main>

<style>


h3 {
	font-family: 'Chalkduster','Segoe Script','Bradley Hand',sans-serif;
}

.footer {
	text-align: center;
}

.clearfix::before {
content: "";
display: block;
clear: both;
text-align: center;
}

</style>