/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*= require jquery.datetimepicker
 */
    @import "bootstrap-sprockets";
    @import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.a {
  background: image-url('top.png');
  background-size: cover;
  width: 100%;
  color: #FFFAFA;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  z-index: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
　overflow: hidden;
}


.title {
	font-size: 50px;
	font-family: 'Comic Sans MS','Corbel','Javanese Text','Arial',sans-serif;
  text-align:center;
  margin:100px auto;
      backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width:600px;
}


body{
	background-color:white
}