// Place all the styles related to the end_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.box1{
	width:100%;
	height:400px;
}

.box2{
	float: left;
	width: 200px;
	height: 400px;
	margin:  10px;
}