// Place all the styles related to the producers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.logintop1{
	background: image-url('producer_login.jpg') center / cover;
	width:100%;
	height:100vh;
	margin:0 auto;
	  text-shadow: 2px  2px 3px black;
}

.signtop1{
	background: image-url('producer_signup.jpg') center / cover;
	width:100%;
	height:100vh;
	margin:0 auto;
	  text-shadow: 2px  2px 3px black;

}